<div class="container main-container"> 
    <h1>Agendamento</h1>

    <form novalidate (ngSubmit)="agendarSala()" [formGroup]="agendamentoForm">
        <hr>
        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Algo deu errado:</h3>
            <ul>
                <li *ngFor="let error of errors"{{error}}></li>
            </ul>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Número da sala</label>
            <div class="col-md-10">
                <input class="form-control" id="salaNumero" type="number" placeholder="Digite o Número da Sala..." formControlName="SalaNumero" [ngClass]="{'is-invalid':displayMessage.salaNumero}" required/>
                <span class="text-danger" *ngIf="displayMessage.salaNumero">
                    <p [innerHTML]="displayMessage.salaNumero"></p>
                </span>
            </div>
    </div>

        <div class="form-group">
                <label class="col-md-2 control-label">Título</label>
                <div class="col-md-10">
                    <input class="form-control" id="titulo" type="text" placeholder="Digite o título..." formControlName="titulo" [ngClass]="{'is-invalid':displayMessage.titulo}" required/>
                    <span class="text-danger" *ngIf="displayMessage.titulo">
                                <p [innerHTML]="displayMessage.titulo"></p>
                    </span>
                </div>
        </div>
        <div class="container">
            <div class="row">                
                <div class="col-md-3 ">
                    <label class="control-label">Data</label>
                    <input class="form-control" type="date" formControlName="data" id="Data" [ngClass]="{'is-invalid':displayMessage.data}" required>
                    <span class="text-danger" *ngIf="displayMessage.data">
                        <p [innerHTML]="displayMessage.data"></p>
                    </span>
                </div>
                <div class="col-md-3 ml-4">
                    <label class="control-label">Hora Início</label>
                    <input class="form-control" formControlName="horaInicio" type="time" [ngClass]="{'is-invalid':displayMessage.horaInicio}" required >
                    <span class="text-danger" *ngIf="displayMessage.horaInicio">
                        <p [innerHTML]="displayMessage.horaInicio"></p>
                    </span>
                </div>
                <div class="col-md-3 ml-4">
                    <label class="control-label">Hora Fim</label>
                    <input class="form-control" formControlName="horaFim" type="time"  [ngClass]="{'is-invalid':displayMessage.horaFim}" required>               
                    <span class="text-danger" *ngIf="displayMessage.horaFim">
                        <p [innerHTML]="displayMessage.horaFim"></p>
                    </span>
                </div>
            </div>
            
          </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2 mt-3">
                <span><button class="btn btn-success" id="agendar" type="submit">Agendar</button></span>
            </div>
        </div>
    </form>
</div>