<div class="container">
  <div>
    <h5 class="mt-4">
      <i class="fas fa-align-justify"></i> Listagem de Agendamentos
    </h5>
</div>
<br />
<div class="row">
    <div class="col-md-2 col-sm-12" style="margin-top: 5px; margin-bottom: 5px;">
        <a [routerLink]="['/sala/agendamento']" class="btn-success btn">Novo Agendamento</a>
    </div>
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-5 col-sm-12" style="margin-top: 5px; margin-bottom: 5px;">
        <form method="get">
            <div class="row">
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <table class="box-list table-hover table table-responsive-md">
            <thead>
            <tr>
                <th>Sala</th>
                <th>Titulo</th>
                <th>Data</th>
                <th>Hora Inicio</th>
                <th>Hora Fim</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agendamentos of agendamentos">
                <td>{{agendamentos.salaNumero}}</td>
                <td>{{agendamentos.titulo}}</td>
                <td>{{agendamentos.data | date:"dd/MM/yyyy"}}</td>
                <td>{{agendamentos.horaInicio}}</td>
                <td>{{agendamentos.horaFim}}</td>
                <td> <a class="btn btn-danger" [routerLink]="['/sala/agendamento']">Excluir</a> </td>                
            </tr>
            </tbody>
        </table>
    </div>
    <style>
        td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</div>
</div>

